* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #faf6f6;
  text-align: center;
  height: 100vh;
}
.counter {
  border-radius: 5px;
  width: 20%;
  margin: auto;
  background: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
h1 {
  margin-bottom: 20px;
}
strong {
  font-size: 30px;
  margin: 10px;
}
.button {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn2 {
  background-color: #f00 !important;
  color: #fff !important;
}

button:hover {
  opacity: 0.8;
}
